*.swp
~/.ICEauthority
~/.PlayOnLinux/
~/.SpiderOak/
~/.Xauthority
~/.Xmodmap
~/.adobe/
~/.android/
~/.bash_aliases
~/.bash_history
~/.bashrc
~/.bazaar/
~/.bogofilter/
~/.byobu/
~/.bzr.log
~/.cache/
~/.camel_certs/
~/.compiz-1/
~/.compiz/
~/.config/
~/.dbus/
~/.directory
~/.dmrc
~/.drjava
~/.dropbox-dist/
~/.dropbox/
~/.dvdcss/
~/.e/
~/.easytag/
~/.eclipse/
~/.eric4/
~/.face.icon
~/.faces/
~/.fontconfig/
~/.fonts.conf.old
~/.fonts/
~/.freemind/
~/.gconf/
~/.gegl-0.0/
~/.gephi/
~/.gimp-2.6/
~/.gitconfig
~/.gitk
~/.gitmessage.txt
~/.gksu.lock
~/.gman
~/.gman.sane-bh.html
~/.gnome2/
~/.gns3/
~/.gnupg/
~/.gstreamer-0.10/
~/.gtk-bookmarks
~/.gvimrc
~/.hgrc
~/.java/
~/.kde/
~/.launchpadlib/
~/.lesshst
~/.local/
~/.macromedia/
~/.mailrc
~/.minecraft/
~/.miro/
~/.mission-control/
~/.mozilla/
~/.mplayer/
~/.msmtprc
~/.mysql/
~/.mysql_history
~/.nbi/
~/.netbeans/
~/.netflix-desktop/
~/.nevernote/
~/.nv/
~/.nvidia-settings-rc
~/.odbc.ini
~/.pam_environment
~/.pki/
~/.profile
~/.puddletag/
~/.pulse-cookie
~/.pulse/
~/.pylint.d/
~/.recoll/
~/.remmina/
~/.rpmdb/
~/.screenrc
~/.smartgit/
~/.snmpb/
~/.ssh/
~/.steam/
~/.steampath
~/.steampid
~/.stellarium/
~/.subversion/
~/.synaptic/
~/.thumbnails/
~/.thunderbird/
~/.vim
~/.viminfo
~/.viminfz.tmp
~/.vimrc
~/.vimrc.bak
~/.wine/
~/.winff/
~/.wireshark/
~/.xbindkeysrc
~/.xchat2/
~/.xinitrc
~/.xscreensaver
~/.xscreensaver.bak
~/.xsession-errors
~/.xsession-errors.old
~/.zenmap/
~/Desktop/
~/Downloads/
~/Dropbox/
~/Ubuntu One/
~/algs4/
~/development/
~/docs/
~/dotfiles/
~/games/
~/music/
~/pictures/
~/repositories/
~/videos/
