vim/sessions
MANIFEST
build
dist
_build
*.py[co]
__pycache__
*.bak
.DS_Store
*.swp
*~
*.log
tmux_resurrect_2016*
default.vim
gvim.vim
vim/bundle/python-mode/.bumpversion.cfg
vim/bundle/python-mode/.github/
vim/bundle/python-mode/.gitignore
vim/bundle/python-mode/.gitmodules
vim/bundle/python-mode/.travis.yml
