[submodule "vim/bundle/scroll"]
	path = vim/bundle/scroll
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/Colour-Sampler-Pack"]
	path = vim/bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vimwiki/vimwiki
