#!/usr/bin/env python

# -------------------------------------------------------------------------- #
#
# Name: python_basic_header.template
# Purpose: This script does ...X,Y, and Z.
#
# Version: 0.1.2
# Author: Kevin Bowen <kevin.bowen@gmail.com>
#
# Original source:
# Updated: 20260822
# Created: 20191202
#
# -------------------------------------------------------------------------- #
