#!/usr/bin/perl

# {{{ ---------------------------------------------------------------------- #
#
# Name: perl_basic_header.template
# Purpose: This script does ...X,Y, and Z.
# Compatible:
# Requirements:
#
# Version: 1.0
# Author: Kevin Bowen <kevin.bowen@gmail.com>
# 
# Original source:
# Updated: 2019111x
#
# }}} ---------------------------------------------------------------------- #

use strict;
use warnings;
