#!/usr/bin/env python3

# {{{ ---------------------------------------------------------------------- #
#
# Name: python_basic_header.py
# Purpose: This script does ...X,Y, and Z.
#
# Version: 0.1.2
# Author: Kevin Bowen <kevin.bowen@gmail.com>
#
# Original source:
# Updated: 20191202
#
# }}} ---------------------------------------------------------------------- #
